<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner">
    <div class="page-logo">
      <a href="#">
        <img src="/assets/logo.png" alt="logo" class="logo-default"/>
      </a>
    </div>
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username"> <i class="fa fa-user"></i> </span>
            <span class="username"> <%= @user.name %> </span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= profile_path %>">
                <i class="fa fa-gear"></i> My Profile </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="<%= signout_path %>">
                <i class="fa fa-sign-out"></i> Log Out </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clearfix">
</div>